/*
	main.css
*/


* {
	box-sizing: border-box;
}

html, body, button, input, textarea, select, table {
	font-family: "NanumSquare","Arial",sans-serif;
}

html, body {
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
	background-color: #1a1e29;
	font-family: "NanumSquare","Arial",sans-serif;
    font-size: 12px;
    text-align: center;
}
body {
	
}

.lecture-page {
	width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

header, footer {
	display: block;
	color: #fff;
}

.lecture-page-header {
	margin-bottom: 15px;
    padding: 29px 0;
    background-color: #16171f;
    line-height: 42px;
    font-size: 18px;
}

.lecture-page-footer {
	height: auto /*96px*/;
    background-color: #16171f;
    color: #484a54;
    padding: 16px 20px;
    height: 80px;
    border-top: 1px solid #0f1015;
    font-weight: bold;
    font-size: 11px;
}

/*  Content  */
.contents-container {
	flex: 1;
}
.contents-wrapper {
	position: relative;
	margin: 0 auto;
}
.timetable {
	width: 750px;
    height: 550px;
    background: wheat;
    float: left;
    margin: 0 20px;
}
.lectureList {
	width: 850px;
    height: 600px;
    overflow: auto;
    background: wheat;
    float: right;
    margin: 0 20px;
    scroll-behavior: smooth;
    text-align: center;
}
.lectureList-Controller {
	width: 850px;
    height: 80px;
    background: wheat;
    float: right;
    /* top, right bottom left */
    margin: 0 20px 10px 20px;
}

