<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>KPU BOARD API</h1>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/posts">게시글 목록</a>
        </p>
        <h1>KPU LECTURE API</h1>
        <p class="lead">교수 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/professors/new">교수 가입</a>
            <a class="btn btn-lg btn-secondary" href="/professors">교수 목록</a>
        </p>
        <p class="lead">강의 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/lectures/new">강의 등록</a>
            <a class="btn btn-lg btn-dark" href="/lectures">강의 목록</a>
        </p>
        <p class="lead">전공 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/majors/new">전공 등록</a>
            <a class="btn btn-lg btn-info" href="/majors">전공 목록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->