<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label th:for="lectureCode">강의코드</label>
            <input type="text" th:field="*{lectureCode}" class="form-control"
                   placeholder="강의코드를 입력하세요"
                   th:class="${#fields.hasErrors('lectureCode')}? 'form-controlfieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('lectureCode')}"
               th:errors="*{lectureCode}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="majorName">강의명</label>
            <input type="text" th:field="*{lectureName}" class="form-control"
                   placeholder="강의명을 입력하세요"
                   th:class="${#fields.hasErrors('lectureName')}? 'form-controlfieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('lectureName')}"
               th:errors="*{lectureName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label for="professor">교수</label>
            <select name="professorId" id="professor" class="form-control">
                <option value="">교수선택</option>
                <option th:each="professor : ${professors}"
                        th:value="${professor.id}"
                        th:text="${professor.professorName}"
                        th:selected="${professor.id == form.professorId}"/>
            </select>
        </div>
        <div class="form-group">
            <label th:for="semester">학기</label>
            <input type="text" th:field="*{semester}" class="form-control"
                   placeholder="학기를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="lectureDate">강의 시간</label>
            <input type="text" th:field="*{lectureDate}" class="form-control"
                   placeholder="전공 코드를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="lectureRoom">강의실</label>
            <input type="text" th:field="*{lectureRoom}" class="form-control"
                   placeholder="강의실을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>